body {
    @import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
    background-color: #111111;
    color: #ffffff;
    margin: 0;
}
a {
    color: #E01251;
}

h1{
font-family: 'Fjalla One', sans-serif;
    /* margin-top: 50px; */

    margin-left: 50;
}
h2{
font-family: 'Fjalla One', sans-serif;
    /* margin-top: 50px; */

    margin-left: 80;
}
ol{
font-family: 'Fjalla One', sans-serif;
    /* margin-top: 50px; */

    margin-left: 80;
}
