background: rgb(19,19,19);
background: -moz-linear-gradient(90deg, rgba(19,19,19,1) 0%, rgba(60,60,60,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(19,19,19,1) 0%, rgba(60,60,60,1) 100%);
background: linear-gradient(90deg, rgba(19,19,19,1) 0%, rgba(60,60,60,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#131313",endColorstr="#3c3c3c",GradientType=1);